---

---

<section class='flex flex-row w-full justify-between items-center'>
  <h2
    class='w-1/4 text-2xl lg:text-4xl font-secondary p-6 bg-gradient-to-r from-black-alt to-highlight text-black rounded-r-full text-end'
  >
    About me
  </h2>
  <p class='w-3/5 text-primary'>
    A web developer who is always looking for new challenges and opportunities
    to learn. Someone who loves to work with people and is always looking for
    ways to improve the team's workflow.
  </p>
</section>
