<section id='contact' class='w-full flex flex-col gap-4 lg:gap-6 items-center'>
  <h2 class='w-fit text-3xl lg:text-6xl font-secondary'>Contact</h2>
  <p>Do you want to get in touch?</p>
  <a
    href='mailto:luisfgomezortiz@gmail.com'
    target='_blank'
    rel='noopener noreferrer'
    aria-label='Send me a message'
    class='p-3 inline-block bg-secondary text-secondary-alt rounded-full lg:hover:bg-white lg:hover:scale-95 font-semibold lg:hover:text-black-alt transition-all duration-300'
    >Send me a message</a
  >
</section>
