<footer>
  <a href='https://github.com/luiferg' target='_blank' aria-label='GitHub: Luis Gomez' class='text-primary inline-block opacity-50 lg:hover:opacity-100 lg:hover:scale-105 transition-all duration-300'>Designed & Built by Luis Gomez</a>
</footer>
