---
import { Image } from 'astro:assets';
---

<header
  class='w-full p-6 flex justify-center items-center bg-white bg-opacity-40 backdrop-blur-md'
>
  <nav class='flex flex-row justify-between items-center w-full max-w-7xl'>
    <p>Luis Logo</p>
    <ul class='flex flex-row justify-center items-center gap-4 md:gap-6'>
      <li><a href='/'>Home</a></li>
      <li><a href='/#about'>About</a></li>
      <li><a href='/projects'>Contact</a></li>
    </ul>
  </nav>
</header>
