---

---

<section class='rounded-3xl p-10 w-full'>
  <p class='text-3xl lg:text-7xl'>
    Hey there!<br />
     I'm <span class='text-primary font-bold'>Luis Gomez</span>
  </p>
  <div class='w-fit'>
    <h1 class='text-xl lg:text-4xl'>Frontend Web Developer</h1>
    <span
      class='h-1 w-full block bg-gradient-to-r to-secondary from-primary rounded-full'
    ></span>
  </div>
</section>
