---

---

<section
  class='rounded-3xl lg:p-10 w-full text-center flex flex-col gap-4 lg:gap-8 items-center lg:py-28'
>
  <p class='text-5xl lg:text-[9rem] font-secondary'>
    Hey there!<br />
     I'm <span class='text-primary font-bold'>Luis Gomez</span>
  </p>
  <div class='w-fit overflow-hidden'>
    <h1 class='text-2xl lg:text-5xl text-secondary-alt'>
      Frontend Web Developer
    </h1>
    <div class='invisible lg:visible w-full flex flex-row'></div>
  </div>
</section>
