---
import { Image } from 'astro:assets'
---

<section class='w-full'>
  <h2 class='text-2xl lg:text-4xl font-secondary text-center'>Projects</h2>
  <div class='flex flex-row w-full justify-start'>
    <div class='group'>
      <div
        class='bg-secondary-alt text-secondary p-6 rounded-3xl transition-all lg:hover:p-5 flex flex-col origin-center'
      >
        <h3 class='text-xl lg:2xl font-secondary'>Be-Graphic</h3>
        <p>An amazing web portfolio for an amazing graphic designer.</p>
        <Image
          src='/screenshots/bg-desktop-mockup.webp'
          alt='Be-Graphic website'
          width={500}
          height={500}
          class={'w-72 h-auto'}
        />
      </div>
    </div>
    <div></div>
  </div>
</section>
